<div class="heading-container">
  <span class="heading-text">Subcontractors</span>
  <div class="pull-right">
    <%= link_to "Export", subcontractors_path(format: "xls"), class: "btn btn-warning heading-button" %>
  </div>
</div>

<table id="subcontractors" class="display responsive no-wrap">
  <thead>
    <tr>
      <th>Name</th>
      <th>Trade</th>
      <th>Contract Value</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @subcontractors.each do |subcontractor| %>
      <tr>
        <td><%= subcontractor.name %></td>
        <td><%= subcontractor.trade %></td>
        <td><%= number_to_currency(subcontractor.contract_value) %></td>
        <td><%= link_to 'Edit', edit_subcontractor_path(subcontractor) %></td>
        <td><%= link_to 'Destroy', subcontractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><%= link_to 'New Subcontractor', new_subcontractor_path %></strong>
