<h1>Listing Subcontractors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Trade</th>
      <th>Contract value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcontractors.each do |subcontractor| %>
      <tr>
        <td><%= subcontractor.name %></td>
        <td><%= subcontractor.trade %></td>
        <td><%= subcontractor.contract_value %></td>
        <td><%= link_to 'Show', subcontractor %></td>
        <td><%= link_to 'Edit', edit_subcontractor_path(subcontractor) %></td>
        <td><%= link_to 'Destroy', subcontractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subcontractor', new_subcontractor_path %>
