<h1>Subcontractors</h1>

<table id="subcontractors" class="display responsive no-wrap">
  <thead>
    <tr>
      <th>Name</th>
      <th>Trade</th>
      <th>Contract Value</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @subcontractors.each do |subcontractor| %>
      <tr>
        <td><%= link_to subcontractor.name, subcontractor %></td>
        <td><%= subcontractor.trade %></td>
        <td><%= subcontractor.contract_value %></td>
        <td><%= link_to 'Edit', edit_subcontractor_path(subcontractor) %></td>
        <td><%= link_to 'Destroy', subcontractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><%= link_to 'New Subcontractor', new_subcontractor_path %></strong>
