<%= bootstrap_form_for(@pco) do |f| %>
  <div class="heading-container">
    <span class="heading-text">PCO</span>
    <div class="pull-right">
      <%= f.text_field :status %>
    </div>
  </div>
  <% if @pco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pco.errors.count, "error") %> prohibited this pco from being saved:</h2>

      <ul>
      <% @pco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :number %>
    <%= f.collection_select :requested_by, Team.all, :full_name, :full_name, include_blank: "[ None Selected ]" %>
    <%= f.collection_select :project, ProjectCode.all, :code, :project_code, include_blank: "[ None Selected ]" %>
    <%= f.date_field :date %>
    <%= f.collection_select :subcontractor, Subcontractor.all, :name, :name, include_blank: "[ None Selected ]" %>
    <%= f.collection_select :trade, Subcontractor.all, :trade, :trade, include_blank: "[ None Selected ]" %>
    <%= f.text_field :proposal_num, label: "Proposal#" %>
    <%= f.text_field :ref_doc %>
    <%= f.text_area :description %>
    <%= f.collection_select :classification, Classification.all, :name, :name, include_blank: "[ None Selected ]" %>
    <%= f.check_box :work_completed %>
    <%= f.check_box :insurance_claim %>
    <%= f.check_box :backcharge %>
    <%= f.collection_select :filter, Filter.all, :name, :name, include_blank: "[ None Selected ]" %>
    <%= f.text_field :al, label: "AL#" %>
    <%= f.date_field :proposal_recd, label: "Proposal rec'd" %>
    <%= f.date_field :submitted_to_owner %>
    <%= f.date_field :approved_by_owner %>
    <%= f.date_field :billed %>
    <%= f.text_field :approx_value %>
    <%= f.text_field :proposed_value %>
    <%= f.text_field :submitted_value %>
    <%= f.text_field :approved_value %>
    <%= f.text_area :comments %>
    <p>
      Not Used:
    </p>
    <%= f.text_field :engineer, disabled: true %>
    <%= f.text_field :bp, label: "BP#", disabled: true%>
    <%= f.submit "Submit" %>
<% end %>
