<div class="heading-container">
  <span class="heading-text">PCO Log</span>
  <div class="pull-right">
    <!-- <a href="#" class="btn btn-success heading-button" data-toggle="modal" data-target="#importPCO">Import</a> -->
    <%= link_to 'New', new_pco_path, class: "btn btn-warning heading-button" %>
    <%= link_to "Export", pcos_path(format: "xls"), class: "btn btn-default heading-button" %>
  </div>
</div>
<table id="pcos" class="display responsive no-wrap">
  <thead>
    <tr>
      <th>#</th>
      <th>Project</th>
      <th>Subcontractor</th>
      <th>Description</th>
      <th>Filter</th>
      <th>Approx $</th>
      <th>Submitted $</th>
      <th>Approved $</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @pcos.each do |pco| %>
      <tr>
        <td><%= link_to pco.number, pco %></td>
        <td><%= pco.project %></td>
        <td><%= pco.subcontractor %></td>
        <td><%= pco.description %></td>
        <td><%= pco.filter %></td>
        <td><%= number_to_currency(pco.approx_value) %></td>
        <td><%= number_to_currency(pco.submitted_value) %></td>
        <td><%= number_to_currency(pco.approved_value) %></td>
        <td><span class="label"><%= pco.status %></span></td>
        <td><%= link_to 'Edit', edit_pco_path(pco) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="modal fade" id="importPCO" tabindex="-1" role="dialog" aria-labelledby="ImportPCO">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Import PCO Items</h4>
      </div>
      <div class="modal-body">
        <%= form_tag import_teams_path, multipart: true do %>
          <%= file_field_tag :file %><br>
          <%= submit_tag "Import", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
