<h1>PCO Log</h1>

<table id="pcos" class="display responsive no-wrap">
  <thead>
    <tr>
      <th>#</th>
      <th>Project</th>
      <th>Date</th>
      <th>Subcontractor</th>
      <th>Description</th>
      <th>Filter</th>
      <th>Submitted</th>
      <th>Approved</th>
      <th>Approx $</th>
      <th>Submitted $</th>
      <th>Approved $</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @pcos.each do |pco| %>
      <tr>
        <td><%= link_to pco.number, pco %></td>
        <td><%= pco.project %></td>
        <td><%= pco.date %></td>
        <td><%= pco.subcontractor %></td>
        <td><%= pco.description %></td>
        <td><%= pco.filter %></td>
        <td><%= pco.submitted_to_owner %></td>
        <td><%= pco.approved_by_owner %></td>
        <td><%= number_to_currency(pco.approx_value) %></td>
        <td><%= number_to_currency(pco.submitted_value) %></td>
        <td><%= number_to_currency(pco.approved_value) %></td>
        <td><%= link_to 'Edit', edit_pco_path(pco) %></td>
        <td><%= link_to 'Destroy', pco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><%= link_to 'New PCO', new_pco_path %></strong>
