<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @pco.number %>
</p>

<p>
  <strong>Requested by:</strong>
  <%= @pco.requested_by %>
</p>

<p>
  <strong>Project:</strong>
  <%= @pco.project %>
</p>

<p>
  <strong>Date:</strong>
  <%= @pco.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pco.status %>
</p>

<p>
  <strong>Subcontractor:</strong>
  <%= @pco.subcontractor %>
</p>

<p>
  <strong>Trade:</strong>
  <%= @pco.trade %>
</p>

<p>
  <strong>Proposal num:</strong>
  <%= @pco.proposal_num %>
</p>

<p>
  <strong>Ref doc:</strong>
  <%= @pco.ref_doc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pco.description %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @pco.classification %>
</p>

<p>
  <strong>Work completed:</strong>
  <%= @pco.work_completed %>
</p>

<p>
  <strong>Insurance claim:</strong>
  <%= @pco.insurance_claim %>
</p>

<p>
  <strong>Backcharge:</strong>
  <%= @pco.backcharge %>
</p>

<p>
  <strong>Filter:</strong>
  <%= @pco.filter %>
</p>

<p>
  <strong>Al:</strong>
  <%= @pco.al %>
</p>

<p>
  <strong>Proposal recd:</strong>
  <%= @pco.proposal_recd %>
</p>

<p>
  <strong>Submitted to owner:</strong>
  <%= @pco.submitted_to_owner %>
</p>

<p>
  <strong>Approved by owner:</strong>
  <%= @pco.approved_by_owner %>
</p>

<p>
  <strong>Billed:</strong>
  <%= @pco.billed %>
</p>

<p>
  <strong>Approx value:</strong>
  <%= @pco.approx_value %>
</p>

<p>
  <strong>Proposed value:</strong>
  <%= @pco.proposed_value %>
</p>

<p>
  <strong>Submitted value:</strong>
  <%= @pco.submitted_value %>
</p>

<p>
  <strong>Approved value:</strong>
  <%= @pco.approved_value %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @pco.comments %>
</p>

<p>
  <strong>Engineer:</strong>
  <%= @pco.engineer %>
</p>

<p>
  <strong>Bp:</strong>
  <%= @pco.bp %>
</p>

<%= link_to 'Edit', edit_pco_path(@pco) %> |
<%= link_to 'Back', pcos_path %>
