<%= bootstrap_form_for(@classification) do |f| %>
  <% if @classification.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <h4><%= pluralize(@classification.errors.count, "error") %> prohibited this classification from being saved:</h4>
      <ul>
      <% @classification.errors.full_messages.each do |message| %>
        <li><strong><%= message %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
