<%= bootstrap_form_for(@filter) do |f| %>
  <% if @filter.errors.any? %>
  <div class="alert alert-danger alert-dismissible">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <h4><%= pluralize(@filter.errors.count, "error") %> prohibited this filter from being saved:</h4>

      <ul>
      <% @filter.errors.full_messages.each do |message| %>
        <li><strong><%= message %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :name %>
    <%= f.text_field :description %>
    <%= f.text_field :group %>
    <%= f.submit %>
<% end %>
