<h1>Filters</h1>

<table id="filters" class="display responsive no-wrap">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Group</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @filters.each do |filter| %>
      <tr>
        <td><%= filter.name %></td>
        <td><%= filter.description %></td>
        <td><%= filter.group %></td>
        <td><%= link_to 'Edit', edit_filter_path(filter) %></td>
        <td><%= link_to 'Destroy', filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><%= link_to 'New Filter', new_filter_path %></strong>
