<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @filter.description %>
</p>

<p>
  <strong>Group:</strong>
  <%= @filter.group %>
</p>

<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
