<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <strong><%= link_to('CM CostDb', root_path, class: "navbar-brand")%></strong>
        <ul class="nav navbar-nav hidden-xs">
          <li><a href="#menu-toggle" id="menu-toggle"><%= fa_icon "outdent" %></a></li>
        </ul>
      </div>
      <% if user_signed_in? %>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- <div class="col-sm-3 col-md-3">
            <%= search_form_for @q, url: search_pcos_path, html: {method: :post, class: "navbar-form"} do |f| %>
              <div class="input-group pull-right">
                <%= f.search_field :requested_by_or_description_cont, placeholder: "Search...", class: "form-control clearable" %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name + " " + current_user.last_name %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
                <li><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      <% end %>
    </nav>
