<!DOCTYPE html>
<html>
<head>
  <title>CM CostDb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render "layouts/header" %>
  <% end %>
  <div id="wrapper">
    <% if user_signed_in? %>
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <%= render "layouts/sidebar" %>
      </div>
      <!-- /#sidebar-wrapper -->
    <% end %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                  <%= yield %>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
    <!-- /#wrapper -->

</body>
</html>
